div.dropdown {
  position: absolute;
  left: 80%;
  bottom: 10%;
}

div.brand {
  height: 100%;
}

div#leftBar {
  border: 1px solid;
  border-radius: 5px;
  float: left;
  width: 18%;
  height: 90%;
  top: 8.5%;
  margin-left: 5px;
}

span.route {
  position: absolute;
  float: left;
}

div#content {
  position: relative;
  height: 90%;
  width: 80%;
  border: 1px solid;
  border-radius: 5px;
  top: 8%; bottom: 0;
  float: right;
  margin: 5px;
}

div#map {
  height: 100%;
  width: 100%;
  float: right;
}

path {
  stroke-width: 1px;

}

.dropdown-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}