body {
  background-color: rgb(190,190,190);
  
}

svg {
  border: 1px solid rgb(140,140,140);
  background-color: rgb(210,210,210);
  border-radius: 5px;
  position: absolute;
  margin: auto;
  top: 0; bottom: 0; left: 0; right: 0;
}